
<div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
     <!-- tabel -->
    <div id="imgFormov" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <h3  ><a href=""> <%= json.original_title %></a> </h3><!-- место для  move Title -->
    <img width="250" src="https://image.tmdb.org/t/p/w500<%= json.overview %>">
    </div>
     <div id="textDisc" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p>
        <%= json.overview %>
    </p>
    </div>
          
  </div>
  </div>
  