<!DOCTYPE html>
<html ng-app="myApp" >
    <body ng-controller="FetchController" > 
          <% include ../partials/head.ejs %>
          <% include ../partials/header.ejs %>
          <% include ../partials/list.ejs %>
          <% include ../partials/jsscripts_angular_pf.ejs %>
     </body>
</html>
